/* Sidebar.css */

@import "../variables.css";

.sidebar {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 300px;
  min-width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  padding: 0.5rem 10px;
  text-decoration: none;
  color: inherit;
  margin: 10px;
  background-color: var(--color-sidebar-link);
  color: var(--color-sidebar-link-text);
}

.sidebar-link.active {
  background-color: var(--color-sidebar-link-active);
  color: var(--color-sidebar-link-active-text);
  border-radius: 4px;
}

.sidebar-link.inactive {
  color: var(--color-sidebar-link-text);
}

.coming-soon {
  color: var(--color-text);
}

.badge {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.app-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* left: 0px; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  color: var(--color-text-invert);
}
